<div class="sidebar-container">
    <div class="sidebar-logo">
        <img class="icon" src="https://upload.wikimedia.org/wikipedia/pt/0/0b/XP_Investimentos_logo.png" alt="">
    </div>
    <a href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-pie-chart fa-2x" aria-hidden="true"></i>
            </div>
            <div>
                <p>Dashboard</p>
            </div>
            
        </div>
    </a>

    <a href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
            <div>
                <p>Relatório</p>
            </div>
            
        </div>
    </a>

    <a class="aColorPotenciaisPropects" href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-users fa-2x" aria-hidden="true"></i>
            </div>
            <div class="d-flex align-items-center flex-column">
                <div>
                    <h3 class="PotenciaisPropects">Potenciais</h3>
                </div>
                <div>
                    <h3 class="PotenciaisPropects">Propects</h3>
                </div>
                
                
            </div>
        </div>
    </a>

    <a href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-question-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div>
                <p>Ajuda</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-cog fa-2x" aria-hidden="true"></i>
            </div>
            <div>
                <p>Setings</p>
            </div>
        </div>
    </a>
    <a class="marginBottom" href="">
        <div class="Dashboard">
            <div>
                <i class="iconOp fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
        </div>
    </a> 
    <a class="" href="">
        <div class="Dashboard">
            <div>
                <img class="imagem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7ct_-99U_47V2fw4gvBLvqqIL4Hdzn-AoKQ&usqp=CAU" alt="">
            </div>
        </div>
    </a>     
</div>