.titulo{
    margin-left: 6px;
}
.bell{
    margin-right: 30px;
    margin-left: 20px ;
}

.encontrar{
    margin-top: 40px;
    margin-bottom: 40px;
}

.textoH5{
    margin-left: 20px;
}

.border{
    margin-left: 50px;
}

.tabela{
    margin-top: 50px;
}
